@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esta aplicação ilustra a utilização do Serviço Cognitivo do Azure</p>
<br />
<p>Recursos utilizados:</p>
<ul>
    <li>Azure App Service</li>
    <li>Azure Sql Database</li>
    <li>Azure Blob Storage</li>
    <li>Azure Cognitive Service</li>
</ul>