@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Márcio Rogério Nizzola<br />
    Salto/SP<br />
    <abbr title="Phone">P:</abbr>
    11.98470-1979
</address>

<address>
    <strong>Support:</strong> <a href="mailto:marcio@nizzola.com.br">marcio@nizzola.com.br</a><br />
    <strong>Linkedin:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
